* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Sweet Romance";
  }
  
  @font-face {
    font-family: "Sweet Romance";
    src: url(../font/Sweet\ Romance.otf);
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: blanchedalmond;
  }
  
  h1 {
    color: rgb(255, 255, 255) !important;
    font-size: 60px;
    font-family: "Sweet Romance";
    background-color: #ea0000;
  }
  
  .img-medium {
    width: 500px;
  }
  
  .box {
    background-color: cornflowerblue;
    height: 300px;
    width: 300px;
    border: 20px solid red;
    padding-left: 10px;
    padding: 10px 12px 8px 20px;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
  }
  
  nav.navbar {
    background-color: #ea0000 !important;
  }
  
  .fondo {
    background-image: url(../img/WhatsApp\ Image\ 2023-06-12\ at\ 22.27.24.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .navbar ul li a {
    color: rgb(255, 255, 255);
  }
  
  .navbar-brand {
    color: rgb(255, 255, 255) !important;
  }
  
  .container text-center {
    padding: 100px 100px;
  }
  
  .contenedor-padre {
    background-color: rgb(19, 18, 18);
    height: 100%;
    width: 100%;
    padding: 50px;
    gap: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 400px 70px 400px 70px 400px repeat(3, 95px);
    grid-gap: 50px;
    justify-content: center;
    row-gap: 10px;
    background-color: blanchedalmond;
    text-decoration: none;
    column-gap: 5px;
    grid-template-areas: "bgc bch" "mgc mch" "bmp bci" "mmp mci" "bsj ." "msj .";
    align-items: center;
    margin: auto;
  }
  
  a {
    font-size: 40px;
    color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .botonlocal a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .botonlocal {
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  iframe {
    width: 90%;
    border-radius: 10px;
    margin: 1.2px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .bgc {
    grid-area: bgc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .bch {
    grid-area: bch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .mgc {
    grid-area: mgc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .mch {
    grid-area: mch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .bmp {
    grid-area: bmp;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .bci {
    grid-area: bci;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .mmp {
    grid-area: mmp;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .mci {
    grid-area: mci;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .bsj {
    grid-area: bsj;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  .msj {
    grid-area: msj;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    width: 40px;
    height: 40px;
  }
  
  button a {
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
  }
  
  svg {
    width: 30px;
    height: 30px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 70px 40px repeat(7, 95px);
    row-gap: 10px;
    background-color: blanchedalmond;
    column-gap: 5px;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo" "nada nada nada nada nada precio efectivo" "prodcutos prodcutos prodcutos prodcutos foto pg pge" "nisal nisal nisal nisal fotonisal pgnisal pgenisal" "nian nian nian nian fotonian pgniam pgeniam" "sashi sashi sashi sashi fotosashi psashi pesashi" "langos langos langos langos fotolango plango pelango" "gei gei gei gei fotogei pgei pegei" "arrov arrov arrov arrov fotoarrov parrov pearrov" "arroc arroc arroc arroc fotoarroc parroc pearroc" "rab rab rab rab fotorab prab perab" "bm bm bm bm fotobm pbm pebm" "sap sap sap sap sap sap sap" "ce ce ce ce fotoce pce pece" "xl xl xl xl fotoxl pxl pexl" "goca goca goca goca fotogoca pgoca pegoca" "gosa gosa gosa gosa fotogosa pgosa pegosa" "gola gola gola gola fotogola pgola pegola" "salad salad salad salad fotosalad psalad pesalad" "pollot pollot pollot pollot fotopollot ppollot pepollot" "ww ww ww ww ww ww ww" "wv wv wv wv fotowv pwv pewv" "wc wc wc wc fotowc pwc pewc" "wp wp wp wp fotowp pwp pewp" "tb tb tb tb tb tb tb" "tv tv tv tv fototv . ." ". v15 v15 v15 v15 pv15 pev15" ". v30 v30 v30 v30 pv30 pev30" ". v45 v45 v45 v45 pv45 pev45";
  }
  
  .titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 50px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .productos {
    grid-area: prodcutos;
    border: 1.2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 100px;
    border-radius: 10px;
    overflow: scroll;
  }
  div::-webkit-scrollbar{
    display: none;
  }
  
  p {
    margin: 0px 50px 50px 30px;
  }
  
  h2 {
    margin: 10px;
    font-size: 25px;
  }
  
  .foto {
    grid-area: foto;
    background-image: url(../img/Niguiris\ de\ palta\ 4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .precio {
    grid-area: precio;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 30px;
    align-items: center;
  }
  
  .efectivo {
    grid-area: efectivo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    height: 30px;
    align-items: center;
  }
  
  .pge {
    grid-area: pge;
    border: 1.2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    height: 100px;
    align-items: center;
    border-radius: 10px;
  }
  
  .pg {
      grid-area: pg;
    @extend .pge
  }
  
  .nisal {
    grid-area: nisal;
    @extend .productos
  }
  
  .fotonisal {
    grid-area: fotonisal;
    background-image: url(../img/NIGUIRIS.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgnisal {
    grid-area: pgnisal;
    @extend .pge
  }
  
  .pgenisal {
    grid-area: pgenisal;
    @extend .pge
  }
  
  .nian {
    grid-area: nian;
    @extend .productos
  }
  
  .fotonian {
    grid-area: fotonian;
    background-image: url(../img/Niguiris\ Anticuchero\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgniam {
    grid-area: pgniam;
    @extend .pge
  }
  
  .pgeniam {
    grid-area: pgeniam;
    @extend .pge
  }
  
  .sashi {
    grid-area: sashi;
    @extend .productos
  }
  
  .fotosashi {
    grid-area: fotosashi;
    background-image: url(../img/sashimis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .psashi {
    grid-area: psashi;
    @extend .pge
  }
  
  .pesashi {
    grid-area: pesashi;
    @extend .pge
  }
  
  .langos {
    grid-area: langos;
    @extend .productos
  }
  
  .fotolango {
    grid-area: fotolango;
    background-image: url(../img/langos\ apa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .plango {
    grid-area: plango;
    @extend .pge
  }
  
  .pelango {
    grid-area: pelango;
    @extend .pge
  }
  
  .gei {
    grid-area: gei;
    @extend .productos
  }
  
  .fotogei {
    grid-area: fotogei;
    background-image: url(../img/geishas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgei {
    grid-area: pgei;
    @extend .pge
  }
  
  .pegei {
    grid-area: pegei;
    @extend .pge
  }
  
  .arrov {
    grid-area: arrov;
    @extend .productos
  }
  
  .fotoarrov {
    grid-area: fotoarrov;
    background-image: url(../img/Arrolladito\ primavera.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .parrov {
    grid-area: parrov;
    @extend .pge
  }
  
  .pearrov {
    grid-area: pearrov;
    @extend .pge
  }
  
  .arroc {
    grid-area: arroc;
    @extend .productos
  }
  
  .fotoarroc {
    grid-area: fotoarroc;
    background-image: url(../img/Arrolladito\ primavera.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .parroc {
    grid-area: parroc;
    @extend .pge
  }
  
  .pearroc {
    grid-area: pearroc;
    @extend .pge
  }
  
  .rab {
    grid-area: rab;
    @extend .productos
  }
  
  .fotorab {
    grid-area: fotorab;
    background-image: url(../img/rabas.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .prab {
    grid-area: prab;
    @extend .pge
  }
  
  .perab {
    grid-area: perab;
    @extend .pge
  }
  
  .bm {
    grid-area: bm;
    @extend .productos
  }
  
  .fotobm {
    grid-area: fotobm;
    background-image: url(../img/Bmm.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pbm {
    grid-area: pbm;
    @extend .pge
  }
  
  .pebm {
    grid-area: pebm;
    @extend .pge
  }
  
  .sap {
    grid-area: sap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 50px;
    /*     background-color: blanchedalmond; */
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .ce {
    grid-area: ce;
    @extend .productos
  }
  
  .fotoce {
    grid-area: fotoce;
    background-image: url(../img/ceviche.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pce {
    grid-area: pce;
    @extend .pge
  }
  
  .pece {
    grid-area: pece;
    @extend .pge
  }
  
  .xl {
    grid-area: xl;
    @extend .productos
  }
  
  .fotoxl {
    grid-area: fotoxl;
    background-image: url(../img/xl.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pxl {
    grid-area: pxl;
    @extend .pge
  }
  
  .pexl {
    grid-area: pexl;
    @extend .pge
  }
  
  .goca {
    grid-area: goca;
    @extend .productos
  }
  
  .fotogoca {
    grid-area: fotogoca;
    background-image: url(../img/AiSushi-gohan\ camarón.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgoca {
    grid-area: pgoca;
    @extend .pge
  }
  
  .pegoca {
    grid-area: pegoca;
    @extend .pge
  }
  
  .gosa {
    grid-area: gosa;
    @extend .productos
  }
  
  .fotogosa {
    grid-area: fotogosa;
    background-image: url(../img/AiSushi-gohan\ salmon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgosa {
    grid-area: pgosa;
    @extend .pge
  }
  
  .pegosa {
    grid-area: pegosa;
    @extend .pge
  }
  
  .gola {
    grid-area: gola;
    @extend .productos
  }
  
  .fotogola {
    grid-area: fotogola;
    background-image: url(../img/AiSushi-gohan\ langostino.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pgola {
    grid-area: pgola;
    @extend .pge
  }
  
  .pegola {
    grid-area: pegola;
    @extend .pge
  }
  
  .salad {
    grid-area: salad;
    @extend .productos
  }
  
  .fotosalad {
    grid-area: fotosalad;
    background-image: url(../img/AiSushi-salads\ camarón\ salmón.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 120px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .psalad {
    grid-area: psalad;
    @extend .pge
  }
  
  .pesalad {
    grid-area: pesalad;
    @extend .pge
  }
  
  .pollot {
    grid-area: pollot;
    @extend .productos
  }
  
  .fotopollot {
    grid-area: fotopollot;
    background-image: url(../img/AiSushi-Salads\ pollo\ teriyaki.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .ppollot {
    grid-area: ppollot;
    @extend .pge
  }
  
  .pepollot {
    grid-area: pepollot;
    @extend .pge
  }
  
  .ww {
    grid-area: ww;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 50px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .wv {
    grid-area: wv;
    @extend .productos
  }
  
  .fotowv {
    grid-area: fotowv;
    background-image: url(../img/wok\ vegi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pwv {
    grid-area: pwv;
    @extend .pge
  }
  
  .pewv {
    grid-area: pewv;
    @extend .pge
  }
  
  .wc {
    grid-area: wc;
    @extend .productos
  }
  
  .fotowc {
    grid-area: fotowc;
    background-image: url(../img/wok\ cam.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pwc {
    grid-area: pwc;
    @extend .pge
  }
  
  .pewc {
    grid-area: pewc;
    @extend .pge
  }
  
  .wp {
    grid-area: wp;
    @extend .productos
  }
  
  .fotowp {
    grid-area: fotowp;
    background-image: url(../img/wok\ pollo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .pwp {
    grid-area: pwp;
    @extend .pge
  }
  
  .pewp {
    grid-area: pewp;
    @extend .pge
  }
  
  .tb {
    grid-area: tb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 50px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .tv {
    grid-area: tv;
    @extend .productos
  }
  
  .fototv {
    grid-area: fototv;
    background-image: url(../img/Tabla\ Veggie\ 5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 180px;
    height: 100px;
    border: 1.2px solid;
    border-radius: 10px;
  }
  
  .v15 {
    grid-area: v15;
    @extend .productos
  }
  
  .pv15 {
    grid-area: pv15;
    @extend .pge
  }
  
  .pev15 {
    grid-area: pev15;
    @extend .pge
  }
  
  .v30 {
    grid-area: v30;
    @extend .productos
  }
  
  .pv30 {
    grid-area: pv30;
    @extend .pge
  }
  
  .pev30 {
    grid-area: pev30;
    @extend .pge
  }
  
  .v45 {
    grid-area: v45;
    @extend .productos
  }
  
  .pv45 {
    grid-area: pv45;
    @extend .pge
  }
  
  .pev45 {
    grid-area: pev45;
    @extend .pge
  }
  
  body .galeria {
    background-color: blanchedalmond;
  }
  
  .data-bs-slide-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #carouselExample {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 550px; */
    background-color: blanchedalmond;
    /* background-attachment: fixed;   */
  }
  
  .d-block {
    /* background-attachment: fixed;  */
    /* width: 500px;  */
  }
  
  .clearfix h4 {
    display: flex;
    font-size: 95px;
    justify-content: center;
    align-items: center;
  }
  
  .clearfix img {
    width: 330px;
    border-radius: 10px;
  }
  
  .clearfix {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .tama {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .fonde {
    width: 100%;
    height: 100%;
  }
  
  .clearfix {
    margin: 50px 200px;
  }
  
  .clearfix p {
    font-size: 30px;
  }
  
  @media (min-width: 465px) {
    .fonde {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tama {
      width: 500px;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 992px) {
    .tama {
      width: 100%;
    }
    .clearfix {
      margin: 20px 100px;
    }
    .grid p{
      font-size: 13px;
  
    }
  }
  